<div class="main_container p-a-1">
  <ng-container *ngIf="showMainPage; else adminDashboard">

    <div class="dark heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
      <app-field-names-choice
        [fieldNames]="adminMiddleware.fieldNames"
        (requestFields)="createSelect($event)"
      ></app-field-names-choice>
    </div>


    <div class="medium heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
      <app-request-spring
        [filterRequestInitValue]="filterRequestInitValue"
      ></app-request-spring>
    </div>


    <div class="light heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
      <app-field-names-choice
        [fieldNames]="shownSelectsNames"
      ></app-field-names-choice>
      <p>
        {{filterRequestInitValue | json}}
      </p>
    </div>

  </ng-container>

  <ng-template #adminDashboard>
    <app-filter-fields-dashboard></app-filter-fields-dashboard>
  </ng-template>


  <button mat-button color="primary" (click)="showMainPage = !showMainPage">
    <span *ngIf="showMainPage; else admin">admin</span>
    <ng-template #admin><span>main</span></ng-template>
  </button>


</div>


