<ng-container>

  <div class="dark heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
    <app-field-names-choice
      [fieldNames]="adminMiddleware.fieldNames"
      (requestFields)="createSelect($event)"
    ></app-field-names-choice>
  </div>


  <div class="medium heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
    <h4 class="centerHorizontal">Обрані селекти</h4>

    <ng-container class="m-t-2">
      <app-request-spring
        (filterRequest)="getQueryValues($event)"
        [filterRequestInitValue]="filterRequestInitValue"
      ></app-request-spring>
    </ng-container>

  </div>


  <div class="light heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
    <p>
      {{queryValues | json}}
    </p>
  </div>

</ng-container>


