<table class="table table-striped">
  <thead>
  <tr>
    <h4>назва ключа</h4>
  </tr>
  </thead>
  <tbody >
  <tr>
    <td class="col-sm-1">
      <mat-checkbox
        (click)="produceRequest('years')"
      ></mat-checkbox>
    </td>
    <td class="col-sm-11">
      years
    </td>
  </tr>
  <tr *ngFor="let fieldName of fieldNames">
    <td class="col-sm-1">
      <mat-checkbox
        (click)="produceRequest(fieldName)"
      ></mat-checkbox>
    </td>
    <td class="col-sm-11">
      {{fieldName}}
    </td>
  </tr>
  </tbody>
</table>
