<ng-container *ngIf="fields !== undefined; else empty">
  <table class="table table-striped m-a-0 m-b-1 p-a-0">
    <thead>
    <tr>
      <th>Ключ поля фільтрування</th>
    </tr>
    </thead>
    <tbody *ngFor="let field of fields">
    <tr>
      <td
        (click)="emitFieldForEditor(field.fieldName)"
        class="pointer"
      >{{field.fieldName}}</td>
    </tr>
    </tbody>
  </table>

  <div class="col-sm-12 toll">
    <mat-icon
      class="pointer centerHorizontal"
      (click)="emitFieldForEditor('')"
    >add</mat-icon>
  </div>
</ng-container>

<ng-template #empty>
  <h4>Поля для фільтрування відсутні</h4>
</ng-template>
