<div class="dark heightEmbedded col-sm-4 m-a-0 p-a-o scroll">

  <ng-container *ngIf="(emptyDBMessage === ''); else emptyDbAlert">
    <app-filter-fields-list
      [fields] = "admin.fields"
      (fieldName)="editField($event)"
    ></app-filter-fields-list>
  </ng-container>

  <ng-template #emptyDbAlert>
    <h3 class="centerVertical">{{emptyDBMessage}}</h3>
  </ng-template>

</div>

<div class="medium heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
  <ng-container class="col-sm-12" *ngIf="admin.showEditor">
    <mat-icon class="pointer m-t-1" (click)="admin.showEditor = false">close</mat-icon>
    <app-filter-field-db-editor
      [fieldName]="field"
    ></app-filter-field-db-editor>
  </ng-container>
</div>

<div class="light heightEmbedded col-sm-4 m-a-0 p-a-o scroll">
  <button id="loadReqSpring" class="hidden" (click)="loadReqString()"></button>
  <ng-template appReqStringHost></ng-template>
</div>




