.centerVertical {
  position: absolute;;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main_container {
  width: 80%;
  height: 80vh;
  position: absolute;;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid grey 1px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.medium {
  background-color: rgba(0, 0, 0, 0.2);
}

.light {
  background-color: rgba(0, 0, 0, 0.1);
}

.heightEmbedded {
  height: 95%;
}

button {
  border: none;
  border-radius: 0px;
}

.wide {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
